{% extends 'base.html' %}

{% block scripts %}
<script src="{{url_for('static',filename='/js/post.js')}}"></script>
{% endblock %}

{% block content %}
        <div>
                <div class="m-section"></div>
                <div class="nrow">
                        <section class="ncolumn">
                                
                                {% if current_user.is_authenticated%}

                                <div class="box1">
                                        
                                        <a href="{{url_for('profile.profile_view',user_id=current_user.id)}}" style="flex: 2%;"><img class="postimage" src="{{url_for('static',filename=current_user.photo)}}"></a>
                                        <div style="flex: 90%;">
                                            <label id="myBtn" for="Post">
                                                <input class="question" type="text" autocomplete="off" placeholder="What's on your mind?" name="Post">
                                            </label>
                                        </div>
                                    </div>
    
    
                                   <div id="myModal" class="modal">
                                        <form method="POST">
                                                {{form.hidden_tag()}}
                                                <div class="crt-box-post">
                                                        <div class="modal-content">
                                                            <span class="close">&times;</span>
                                                            <p>Create Post</p>
                                                        </div>
                                                        <hr style="margin: auto;">
                                                        <div class="crt-post-image">
                                                            <a href="{{url_for('profile.profile_view',user_id=current_user.id)}}"><img src="{{url_for('static',filename=current_user.photo)}}"></a>
                                                            <p>{{current_user.name}}</p>
                                                        </div>
                                                            {{form.text(class="userpost-text",placeholder="what's on you mind?")}}
                                                        <div class="addypost">
                                                            <p>Add to Your Post</p>
                                                            <div>
                                                                <a href="#"><img src="assets/images/tag.png"></a>
                                                                <a href="#"><img src="assets/images/location.png"></a>
                                                                <a href="#"><img src="assets/images/album.png"></a>
                                                                <a href="#"><img src="assets/images/video.png"></a>
                                                                <a href="#"><img src="assets/images/points.svg"></a>
                                                            </div>
                                                        </div>
                                                        <a href="#"><button class="posting-button">Post</button></a>
                                                    </div>
                                        </form>
                                    </div>


                                {% endif %}

                                <div id="post-container">

                                </div>


                        </section>
                        <section class="nncolumn">

                                <div class="box6">
                                        <h3>Feature match</h3>
                                        <div class="tSpace">
                                                <img class="ticons" src="{{ url_for('static', filename='images/Tortura.jpg') }}" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="mTime">23:00 <br> Today</p>
                                        <div class="tSpace">
                                                <img class="ticons" src="{{ url_for('static', filename='images/Zappa.jpg') }}" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="box6">
                                        <h3>Feature match</h3>
                                        <div class="tSpace">
                                                <img class="ticons" src="{{ url_for('static', filename='images/Zappa.jpg') }}" alt="zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <p class="mTime">23:30 <br> Today</p>
                                        <div class="tSpace">
                                                <img class="ticons" src="{{ url_for('static', filename='images/Tortura.jpg') }}" alt="tortura">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="box8"></div>
                                <div class="box9"></div>
                        </section>
                </div>
        </div>
        <script>                
                addPosts()
        </script>
        <script src="{{url_for('static',filename='js/newpost.js')}}"></script>
        <script src="{{url_for('static',filename='js/postbar.js')}}"></script>

{% endblock %}