{% extends 'base.html' %}
{% block content %}
        <div>
                <div class="m-section"></div>
                <div class="nrow">
                        <section class="ncolumn">
                                
                                {% if current_user.is_authenticated%}
                                <div class="mainDiv">
                                        <form method="POST">
                                                {{form.hidden_tag()}}
                                                <div class="post-title">
                                                        {{form.submit(class="submit-button")}}
                                                </div>
                                                <div id="post-body">
                                                        <label for="pTitle">
                                                                {{form.title(class="p-Title",placeholder="Title")}}
                                                        </label>
                                                        
                                                        <div>
                                                                {{form.text(class="textarea",placeholder="what's on you mind?")}}
                                                        </div>
                                                </div>
                                        </form>
                                </div>
                                {% endif %}

                                <div id="post-container">

                                </div>


                        </section>
                        <section class="nncolumn">

                                <div class="box6">
                                        <h3>Feature match</h3>
                                        <div class="tSpace">
                                                <img class="ticons" src="{{ url_for('static', filename='images/Tortura.jpg') }}" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="mTime">23:00 <br> Today</p>
                                        <div class="tSpace">
                                                <img class="ticons" src="{{ url_for('static', filename='images/Zappa.jpg') }}" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="box6">
                                        <h3>Feature match</h3>
                                        <div class="tSpace">
                                                <img class="ticons" src="{{ url_for('static', filename='images/Zappa.jpg') }}" alt="zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <p class="mTime">23:30 <br> Today</p>
                                        <div class="tSpace">
                                                <img class="ticons" src="{{ url_for('static', filename='images/Tortura.jpg') }}" alt="tortura">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="box8"></div>
                                <div class="box9"></div>
                        </section>
                </div>
        </div>
        <script>                
                addPosts()
        </script>

{% endblock %}